@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LogosoftProjekat.EntityModels;
@model LogosoftProjekat.ViewModel.IdentityRegisterVM;

@{
    Layout = "LayoutAnonim";
}
<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h3>Registration</h3>
    @using (Html.BeginForm("Register", "Identity", FormMethod.Post))
    {
        <div class="form-group">
            <label asp-for="FirstName">First name:</label>
            <input asp-for="FirstName" type="text" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last name:</label>
            <input asp-for="LastName" type="text" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName">User name</label>
            <input asp-for="UserName" type="text" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
            @ViewBag.Error
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <button class="btn btn-primary" asp-area="" asp-controller="Identity" asp-action="Login">Login</button>
    }



</body>
</html>
<style>
    form {
        margin: 60px 200px 60px 200px
    }


    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #808080;
        box-sizing: border-box;
    }

    button {
        background-color: #40cadd;
        color: white;
        padding: 20px 30px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }


        button:hover {
            opacity: 0.6;
        }
</style>