@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LogosoftProjekat.Helper
@using LogosoftProjekat.EntityModels;
@model LogosoftProjekat.ViewModel.ToDoCreateEditVM;

@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Create ToDo</title>
</head>
<body>
    <div style=" position:fixed; right: 10%;top:0.5%">
        <i class="fas fa-sign-out-alt"> </i>
        <div class="row">
            <div class="column"><span class="logout">@Context.GetLoggedUser().FirstName.Substring(0, 1)@Context.GetLoggedUser().LastName.Substring(0, 1) </span></div>
            <div class="column"><img style="margin-left:20px;margin-top:1px" class="avatar" height="40" width="40" src="~/profile/profil-picture.jpg" /></div>
            <span style="margin-left:10px"><a asp-controller="Identity" asp-action="Login" class="nav-link"><b>Log out</b></a></span>

        </div>
    </div>
    @using (Html.BeginForm("Create", "ToDo", FormMethod.Post))
    {
        <input asp-for="TodoId" type="hidden" />
        <div class="form-group">
            <label asp-for="Title">Title:</label>
            <input asp-for="Title" type="text" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <input asp-for="Description" type="text" class="form-control" size="200" />

        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    }



</body>
</html>

<style>
    form {
        margin: 60px 200px 60px 200px
    }

   
        input [type=text] {
        width: 100%;
        padding: 15px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #808080;
        box-sizing: border-box;
    }

    button {
        background-color: #40cadd;
        color: white;
        padding: 20px 30px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.6;
        }

    .logout {
        height: 40px;
        width: 40px;
        border-radius: 60%;
        display: inline-block;
        font-size: 25px;
        margin-left: 30%;
        background-color: aqua;
        text-decoration: none
    }
</style>